*.o
test
test_libjpeg
test_libpng
test_libjxl
test_jxl_cancel
test_jxl_regress
jxlmembench
jxlstarvebench
jxlperfbench
imgscale
oilview
benchmark
coeffbench
sdltest
*.jpg
*.png
*.jxl

local.mk
DO_NOT_COMMIT*
.vscode/
.claude/

# OSX
test.dSYM
test_libjpeg.dSYM
test_libpng.dSYM
.DS_Store
